<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Getting Started: Serving Web Content</title>
  <link rel="stylesheet" type="text/css" href="./styles/index.css">
</head>
<body>
<div class="container">
  <h1 class="title">I love movies!</h1>
  <div class="links-container">
    <a href="bestMovie" class="link">Find the best Movie!</a>
    <a href="voteForBestMovieForm" class="link">Vote for your favorite movie!</a>
    <a href="addMovieForm" class="link">Add a movie</a>
  </div>
</div>
</body>
</html>