
body {
  background: linear-gradient(to bottom right, #FF4136, #FF851B, #FFDC00, #2ECC40, #0074D9, #B10DC9) no-repeat;
  background-size: 100vw 100vh;
}


form {
  margin: 20px auto;
  width: 50%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}


form input[type="text"], select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

form label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}


form input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #3e8e41;
}


select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-512.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 24px 24px;
}


a {
  display: block;
  margin-top: 20px;
  color: #000;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}